<div class="row">
	<aside class="span8">
		<div class="section-title">
			<h3>Your bubbles' latest rumrs</h3>
		</div>
			<ul class="feed">
				<% @bubbles.each do |bubble| %>
						<li><%= bubble.name %> | <%= link_to "View all rumors", bubble %></li>
						<ol class="subfeed">
							<% bubble.rumors.each do |rumor| %>
								<li><%= link_to rumor.title, rumor %> | <%= rumor.content %></li>
							<% end %>
						</ol>
				<% end %>
			</ul>
	</aside>
	<aside class="span4">
		<div class="section-title">
			<h3>Browse rumors</h3>
		</div>
		<div class="browse">
			<%= form_tag bubbles_path, :method => :get do %>
			  <p>
			    <%= text_field_tag :search,
			    									 params[:search],
			    									 placeholder: "Search for any subject you're interested in" %>
			    <%= submit_tag "Search", :name => nil, class: "btn btn-success" %>
			  </p>
			<% end %>
		</div>
		<h4>Or search by categories: </h4>
		<div id="tag_cloud">
		<% tag_cloud Bubble.tag_counts, %w[s m l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
		<% end %>
	</div>
	</aside>
</div>