<div class="row">
	<aside class="span6">
		<div class="section-title">
			<h3>Your bubbles' latest rumrs</h3>
		</div>
			<ul class="feed">
				<% @bubbles.each do |bubble| %>
						<li><%= bubble.name %> | <%= link_to "View all rumors", bubble %></li>
						<ol class="subfeed">
							<% bubble.rumors.each do |rumor| %>
								<li><%= link_to rumor.title, rumor %> | <%= rumor.content %></li>
							<% end %>
						</ol>
				<% end %>
			</ul>
	</aside>
	<aside class="span4">
		<div class="section-title">
			<h3>Post a new Rumr</h3>
		</div>
		<%= render 'rumors/form' %>
	</aside>
</div>
<div class="span12">
	<h3>Browse rumors in: </h3>
	<div id="tag_cloud">
		<% tag_cloud Bubble.tag_counts, %w[s m l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
		<% end %>
	</div>
</div>