<h1>Listing rumors</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rumors.each do |rumor| %>
  <tr>
    <td><%= rumor.title %></td>
    <td><%= rumor.content %></td>
    <td><%= link_to 'Show', rumor %></td>
    <td><%= link_to 'Edit', edit_rumor_path(rumor) %></td>
    <td><%= link_to 'Destroy', rumor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rumor', new_rumor_path %>
